<?xml version="1.0"?>

<robot name = "bicycle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name = "base_length" value = "0.5"/>
    <xacro:property name = "base_width" value = "0.1"/>
    <xacro:property name = "base_height" value = "0.05"/>
    <xacro:property name = "wheel_radius" value = "0.05"/>
    <xacro:property name = "wheel_length" value = "0.05"/>

    
    <material name="blue">
        <color rgba="0 0 0.5 1" />
    </material>
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>
    <material name="green">
        <color rgba="0 0.5 0 1" />
    </material>
    <material name="red">
        <color rgba="0.5 0 0 1" />
    </material>

    <link name = "base_footprint"/>
    <link name = "base_link">
        <visual>
            <geometry>
                <box size = "${base_length} ${base_width} ${base_height}"/>
            </geometry>
            <origin xyz = "0 0 0"/>
            <material name = "blue"/>
        </visual>
    </link>

    <link name = "front_wheel">
        <visual>
            <geometry>
                <cylinder radius = "${wheel_radius}" length = "${wheel_length}"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name = "grey"/>
        </visual>
    </link>

    <link name = "rear_wheel">
        <visual>
            <geometry>
                <cylinder radius = "${wheel_radius}" length = "${wheel_length}"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name = "grey"/>
        </visual>
    </link>

    <link name = "front_wheel_cylinder">
        <visual>
            <geometry>
                <cylinder radius = "0.01" length = "${wheel_length}"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name = "grey"/>
        </visual>
    </link>

    <link name = "rear_wheel_cylinder">
        <visual>
            <geometry>
                <cylinder radius = "0.01" length = "${wheel_length}"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name = "grey"/>
        </visual>
    </link>

    <joint name = "base_joint" type = "fixed">
        <origin xyz = "0 0 0.15"/>
        <parent link = "base_footprint"/>
        <child link = "base_link"/>
    </joint>


    <joint name = "base_front_cylinder_joint" type = "continuous">
        <origin xyz = "${base_length/2 - wheel_radius} 0 -0.01" rpy = "0 0 0"/>
        <parent link = "base_link"/>
        <child link = "front_wheel_cylinder"/>
        <axis xyz = "0 0 1"/>
    </joint>

    <joint name = "cylinder_front_wheel_joint" type = "continuous">
        <origin xyz = "0 0 ${-wheel_radius-wheel_length/2}" rpy = "${pi/2} 0 0"/>
        <parent link = "front_wheel_cylinder"/>
        <child link = "front_wheel"/>
        <axis xyz = "0 0 1"/>
    </joint>

        <joint name = "base_rear_cylinder_joint" type = "fixed">
        <origin xyz = "${-base_length/2 + wheel_radius} 0 -0.01" rpy = "0 0 0"/>
        <parent link = "base_link"/>
        <child link = "rear_wheel_cylinder"/>
    </joint>

    <joint name = "cylinder_rear_wheel_joint" type = "continuous">
        <origin xyz = "0 0 ${-wheel_radius-wheel_length/2}" rpy = "${pi/2} 0 0"/>
        <parent link = "rear_wheel_cylinder"/>
        <child link = "rear_wheel"/>
        <axis xyz = "0 0 1"/>
    </joint>

</robot>